@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Source+Code+Pro&family=Zen+Kurenaido&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(18, 18, 20);
  color: white;
  font-family: "Poppins";
}

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-top: 1.5rem;
}

.logo-link {
  text-decoration: none;
}

.name {
  font-weight: bolder;
  text-decoration: none;
  color: white;
  font-size: 35px;
}

.portfolio-links {
  display: flex;
  /* justify-content: space-between; */
  margin-top: 1.5rem;
}

.portfolio-links a {
  color: rgb(14, 235, 180);
  margin: 0 18px;
  font-weight: 500;
  font-family: "poppins";
  font-size: 1.25rem;
}

main {
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.about-content {
  margin-top: 1.5rem;

  font-size: 1.25rem;
}

.work-content {
  margin-top: 1.5rem;
}

.work-content-title {
  color: rgb(13, 165, 216);
  font-weight: bolder;
}

.work-content-paragraphs {
  margin-top: 0.75rem;
}

.skills-content {
  margin-top: 1.5rem;
}

.skills-content-title {
  color: rgb(13, 165, 216);
  font-weight: bolder;
}

.skills-logo-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.img-logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  font-size: 0.7rem;
  margin-right: 0.75rem;

  padding-top: 0;
  margin-top: 1rem;
}

.html-logo {
  height: 50px;
  width: 50px;
}

.css-logo {
  height: 50px;
  width: 50px;
}

.javascript-logo {
  height: 50px;
  width: 50px;
}

.react-logo {
  height: 50px;
  width: 70px;
}

.github-logo {
  height: 50px;
  width: 50px;
}

.img-logo-container p {
  margin-top: 0.35rem;
}

.projects-section {
  margin-top: 2rem;
}

.projects-content-title {
  color: rgb(13, 165, 216);
  font-weight: bolder;
  margin-left: 2rem;
}

.project-container {
  border: 0.5px solid rgb(104, 104, 104);
  border-radius: 5px;

  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.project-title {
  margin-top: 1rem;
  margin-left: 1rem;
  /* color: rgba(250, 56, 56); */
  color: rgb(14, 235, 180);
  font-weight: bolder;
  font-size: 1.25rem;
}

.project-mini-explanation {
  margin-left: 1rem;
  margin-top: 0.5rem;
}

.project-img-container {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
  border-top: 0.5px solid rgb(104, 104, 104);
  border-bottom: 0.5px solid rgb(104, 104, 104);
  margin-left: 1rem;
  margin-right: 1rem;
}

.project-img {
  height: 200px;
  width: 300px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.learn-more-title-container {
  display: flex;

  justify-content: center;
}

.learn-more-title {
  margin-top: 1rem;
  border-radius: 5px;
  color: rgb(13, 165, 216);
  font-weight: bolder;
}

.learn-more-featuring-header {
  margin-left: 1rem;
  margin-top: 1rem;
}

.learn-more-list {
  margin-left: 3rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.learn-more-list li {
  margin-bottom: 1rem;
}

.toggle-test-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.lbl-toggle {
  color: rgb(13, 165, 216);
  font-weight: bolder;

  cursor: pointer;
  transition: all 0.5s ease-out;
}

.lbl-toggle::before {
  content: "";
  display: inline-block;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: 0.7rem;
  transform: translateY(-2px);
  transition: transform 0.25s ease-out;
}

input {
  display: none;
}

.collapsible-content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.25s ease-in-out;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 100vh;
}

.toggle:checked + .lbl-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}
