@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Source+Code+Pro&family=Zen+Kurenaido&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(18, 18, 20);
  color: white;
  font-family: "Poppins";
}

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-top: 1.5rem;
}

.logo-link {
  text-decoration: none;
}

.name {
  font-weight: bolder;
  text-decoration: none;
  color: white;
  font-size: 35px;
}

.portfolio-links {
  display: flex;
  /* justify-content: space-between; */
  margin-top: 1.5rem;
}

.portfolio-links a {
  color: rgb(14, 235, 180);
  margin: 0 18px;
  font-weight: 500;
  font-family: "poppins";
  font-size: 1.25rem;
}

main {
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.about-content {
  margin-top: 1.5rem;

  font-size: 1.25rem;
}

.work-content {
  margin-top: 1.5rem;
}

.work-content-title {
  color: rgb(13, 165, 216);
  font-weight: bolder;
}

.work-content-paragraphs {
  margin-top: 0.75rem;
}

.skills-content {
  margin-top: 1.5rem;
}

.skills-content-title {
  color: rgb(13, 165, 216);
  font-weight: bolder;
}

.skills-logo-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.img-logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  font-size: 0.7rem;
  margin-right: 0.75rem;

  padding-top: 0;
  margin-top: 1rem;
}

.html-logo {
  height: 50px;
  width: 50px;
}

.css-logo {
  height: 50px;
  width: 50px;
}

.javascript-logo {
  height: 50px;
  width: 50px;
}

.react-logo {
  height: 50px;
  width: 70px;
}

.github-logo {
  height: 50px;
  width: 50px;
}

.img-logo-container p {
  margin-top: 0.35rem;
}

.projects-section {
  margin-top: 2rem;
}

.projects-content-title {
  color: rgb(13, 165, 216);
  font-weight: bolder;
  margin-left: 2rem;
  margin-top: 1.5rem;
}

.project-container {
  border: 0.5px solid rgb(104, 104, 104);
  border-radius: 5px;

  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;

  padding-bottom: 1rem;
}

.project-title {
  margin-top: 1rem;
  margin-left: 1rem;
  /* color: rgba(250, 56, 56); */
  color: rgb(14, 235, 180);
  font-weight: bolder;
  font-size: 1.25rem;
}

.project-subtitle {
  margin-left: 1rem;
  margin-top: 0.5rem;
}

.project-img-container {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
  border-top: 0.5px solid rgb(104, 104, 104);
  border-bottom: 0.5px solid rgb(104, 104, 104);
  margin-left: 1rem;
  margin-right: 1rem;
}

.project-img {
  height: 200px;
  width: 300px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.toggle-test-container {
  margin-top: 0.7rem;
}

.lbl-toggle {
  font-size: 1.1rem;
}

.learn-more-featuring-header {
  margin-left: 1rem;
  margin-top: 1rem;
}

.learn-more-list {
  margin-left: 3rem;
  margin-top: 1rem;
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.learn-more-list li {
  margin-bottom: 1rem;
}

.toggle-test-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.lbl-toggle {
  color: rgb(13, 165, 216);
  font-weight: bolder;

  cursor: pointer;
  transition: all 0.5s ease-out;
}

.lbl-toggle::before {
  content: "";
  display: inline-block;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 7px solid currentColor;
  vertical-align: middle;
  margin-right: 0.7rem;
  transform: translateY(-2px);
  transition: transform 0.25s ease-out;
}

input {
  display: none;
}

.collapsible-content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.25s ease-in-out;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 100vh;
}

.toggle:checked + .lbl-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}

.mini-icon-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 0.5rem;
  margin-right: 1rem;
}

.tiny-img {
  height: 30px;
  width: 30px;
  margin-left: 0.75rem;
  cursor: pointer;
}

.more-btn {
  border: 0.5px solid rgb(104, 104, 104);
  background-color: rgb(18, 18, 20);
  color: white;
  font-size: 1rem;
  border-radius: 5px;
  padding: 0.25rem;
  margin-top: 1.5rem;
  margin-left: 1rem;
  cursor: pointer;
}

.email-container {
  margin-left: 1rem;

  margin-top: 1rem;
}

.fa-envelope {
  font-size: 1.15rem;
  margin-right: 0.5rem;
}

.email-link {
  text-decoration: none;
  color: white;
}

.resume-container {
  margin-left: 1rem;
  margin-top: 1rem;
}

.fa-arrow-alt-circle-down {
  font-size: 1.15rem;
  margin-right: 0.5rem;
}

.resume-link {
  text-decoration: none;
  color: white;
}

.portfolio-container {
  margin-left: 1rem;
  margin-top: 1rem;
}

.fa-file-alt {
  font-size: 1.15rem;
  margin-right: 0.5rem;
}

.portfolio-link {
  text-decoration: none;
  color: white;
}

.socials-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.linkedin-logo {
  font-size: 4rem;
  color: rgb(70, 134, 252);
}

.github-logo {
  font-size: 4rem;
}

.fa-github {
  color: white;
}

.twitter-logo {
  color: rgb(70, 210, 235);
  font-size: 4rem;
}

.footer {
  margin-top: 2rem;
  border-top: 2px solid grey;
  margin-left: 1rem;
  margin-right: 1rem;
  display: flex;
  flex-direction: column;

  align-items: center;
}

.footer-link {
  margin-left: 0.4rem;
  text-decoration: none;
  color: rgb(255, 66, 66);
}

.footer p {
  font-size: 0.9rem;
  margin-top: 1rem;
}

/* not sure what to do with these yet*/

.blogs-section {
  margin-top: 2rem;
}

.contact-section {
  margin-top: 2rem;
}

/* ==========================*/

@media only screen and (min-width: 600px) {
  main {
    margin-top: 2rem;
    margin-right: 5rem;
    margin-left: 5rem;
  }

  .skills-logo-container {
    margin-left: 6rem;
    margin-right: 6rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .img-logo-container {
    margin-right: 0.75rem;

    padding-top: 0;
    margin-top: 1rem;
  }

  .projects-section {
    margin-top: 2rem;
  }

  .projects-content-title {
    margin-left: 5rem;
  }

  .project-container {
    width: 55%;
    margin: auto;
    margin-top: 1rem;
  }

  .more-btn {
    padding: 0.25rem;
    margin-top: 1.5rem;
    margin-left: 11rem;
  }
}

@media only screen and (min-width: 1024px) {
  .navbar {
    width: 70%;
    margin: auto;
    margin-top: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .name {
    font-size: 2.5rem;
  }

  .portfolio-links a {
    font-size: 1.5rem;
  }

  ul {
    font-size: 1.5rem;
  }

  main {
    margin-top: 6rem;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

  .main-header {
    font-size: 3rem;
  }

  .about-content {
    font-size: 1.5rem;
  }

  .work-content {
    font-size: 1.25rem;
    width: 70%;
  }

  .skills-logo-container {
    width: 100%;
    outline: 1px solid red;
    margin: auto;
    display: flex;
    align-items: center;

    justify-content: space-between;
  }

  .img-logo-container {
    margin-right: 0.75rem;

    padding-top: 0;
    margin-top: 1rem;
  }

  .projects-section {
    margin-top: 2rem;
  }

  .projects-content-title {
    margin-left: 5rem;
  }

  .project-container {
    width: 55%;
    margin: auto;
    margin-top: 1rem;
  }

  .more-btn {
    padding: 0.25rem;
    margin-top: 1.5rem;
    margin-left: 11rem;
  }
}
