@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Source+Code+Pro&family=Zen+Kurenaido&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(18, 18, 20);
  color: white;
  font-family: "Poppins";
}

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-top: 1.5rem;
}

.logo-link {
  text-decoration: none;
}

.name {
  font-weight: bolder;
  text-decoration: none;
  color: white;
  font-size: 35px;
}

.portfolio-links {
  display: flex;
  /* justify-content: space-between; */
  margin-top: 1.5rem;
}

.portfolio-links a {
  color: rgb(14, 235, 180);
  margin: 0 18px;
  font-weight: 500;
  font-family: "poppins";
  font-size: 1.25rem;
}
